# This file will need a cleanup before release

<IfModule mod_rewrite.c>
	RewriteEngine On

	# General declarations for the SEO.
	RewriteRule ^board-(\d+).html$ index.php?board=$1 [L,QSA]
	RewriteRule ^thread-(\d+).html$ index.php?thread=$1 [L,QSA]
	RewriteRule ^user-(\d+).html$ index.php?user=$1 [L,QSA]
	RewriteRule ^cat-(\d+).html$ index.php?cat=$1 [L,QSA]
	RewriteRule ^(reply|print|newthread).html?(.+?)$ index.php?action=$1&$2 [L,QSA]
	RewriteRule ^(home|help|search|usercp|members|logout|login|signin|register|join|signup|upgrade).html$ index.php?action=$1 [L,QSA]
</IfModule>